/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap");

/* Styles */
body {
  background-color: #cdeeff;
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Lora", serif;
}
hr {
  border-style: dotted dotted none;
  border-color: #ed5edd;
  border-width: 8px;
  height: 0px;
  width: 8%;
}
a {
  color: #ed5edd;
}
/* img {
} */
h1 {
  color: #8c35fd;
  font-family: "Poppins", sans-serif;
}
h3 {
  color: #009c5b;
  font-family: "Poppins", sans-serif;
}
td {
  font-family: "Lora", serif;
}

/* Classes */
.profileimg {
  height: 175px;
  width: auto;
}
